In [984]:
import pandas as pd
import numpy as np

In [985]:
#Importando os dados . 

df_covid = pd.read_csv("dados_covid_sp.csv", sep=';' , encoding="utf-8")

In [986]:
#Contabilizando quantidade de linhas e colunas

df_covid.shape

(374034, 26)

In [987]:
#Conferindo os tipos dos dados existentes

df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374034 entries, 0 to 374033
Data columns (total 26 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   nome_munic     374034 non-null  object
 1   codigo_ibge    374034 non-null  int64
 2   dia            374034 non-null  int64
 3   mes            374034 non-null  int64
 4   datahora       374034 non-null  object
 5   casos          374034 non-null  int64
 6   casos_novos    374034 non-null  int64
 7   casos_pc       374034 non-null  object
 8   casos_mm7d     374034 non-null  object
 9   obitos         374034 non-null  int64
 10  obitos_novos   374034 non-null  int64
 11  obitos_pc      374034 non-null  object
 12  obitos_mm7d    374034 non-null  object
 13  letalidade     374034 non-null  object
 14  nome_ra        373455 non-null  object
 15  cod_ra         374034 non-null  int64
 16  nome_drs       373455 non-null  object
 17  cod_drs        374034 non-null  int64
 18  pop            374034 non-null  int64
 19  pop_60         374034 non-null  int64
 20  area           374034 non-null  int64
 21  map_leg        373455 non-null  object
 22  map_leg_s      373455 non-null  float64
 23  latitude       374034 non-null  object
 24  longitude      374034 non-null  object
 25  semana_epidem  374034 non-null  int64
dtypes: float64(1), int64(13), object(12)
memory usage: 74.2+ MB

In [988]:
df_covid.head(5)

,nome_munic,codigo_ibge,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,...,nome_drs,cod_drs,pop,pop_60,area,map_leg,map_leg_s,latitude,longitude,semana_epidem
0,Adamantina,3500105,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Marília,5,33894,7398,41199,0,8.0,"-21,6820","-51,0737",9
1,Adolfo,3500204,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São José do Rio Preto,15,3447,761,21106,0,8.0,"-21,2325","-49,6451",9
2,Aguaí,3500303,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São João da Boa Vista,14,35608,5245,47455,0,8.0,"-22,0572","-46,9735",9
3,Águas da Prata,3500402,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São João da Boa Vista,14,7797,1729,14267,0,8.0,"-21,9319","-46,7176",9
4,Águas de Lindóia,3500501,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Campinas,3,18374,3275,6013,0,8.0,"-22,4733","-46,6314",9

# Renomeado colunas

In [989]:
def rename_column(df, old_column_name, new_column_name):
    df.rename(columns={old_column_name: new_column_name}, inplace=True)

In [990]:
rename_column(df_covid, 'nome_munic', 'Municipio')
rename_column(df_covid, 'nome_drs', 'Cidade')
rename_column(df_covid, 'pop', 'População_abaixo_60')
rename_column(df_covid, 'pop_60', 'População_acima_60')
rename_column(df_covid, 'semana_epidem', 'Semana_epidemiologica')

# Exclusão de linhas

In [991]:
def drop_column(df, column_name):
    if column_name in df.columns:
        df.drop(columns=[column_name], inplace=True)
    else:
        print(f"A coluna '{column_name}' não está inclusa no Dataframe.")

In [992]:
drop_column(df_covid,'cod_ra')
drop_column(df_covid,'rotulo_mapa')
drop_column(df_covid,'cod_drs')
drop_column(df_covid,'nome_ra')

A coluna 'rotulo_mapa' não está inclusa no Dataframe.

# Exclusão de linhas

In [993]:
def drop_column_by_index(df, column_index):
    df.drop(df.columns[column_index], axis=1, inplace=True)

In [994]:
drop_column_by_index(df_covid, 1)

In [995]:
df_covid.sample()

,Municipio,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,...,letalidade,Cidade,População_abaixo_60,População_acima_60,area,map_leg,map_leg_s,latitude,longitude,Semana_epidemiologica
229028,Balbinos,14,2,2021-02-14,273,0,"7,37041036717063e+03","0,142857142857143",3,0,...,"0,010989010989010990",Bauru,3704,306,9164,<300,5.0,"-21,8963","-49,3619",7

# Alterando o erro na unidade de medida Km pois se encontra errada

In [996]:
df_covid['area'] = df_covid['area']/100
df_covid.sample(1)

,Municipio,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,...,letalidade,Cidade,População_abaixo_60,População_acima_60,area,map_leg,map_leg_s,latitude,longitude,Semana_epidemiologica
220292,Monções,31,1,2021-01-31,131,0,"6,02298850574713e+03","2,571428571428572",5,0,...,"0,038167938931297711",São José do Rio Preto,2175,485,104.35,<150,6.0,"-20,8509","-50,0975",5

# Criando uma coluna através de uma coluna existente

In [997]:
df_covid['densidade'] = df_covid['População_abaixo_60'] / df_covid['area'] 
df_covid.sample(3)

,Municipio,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,...,Cidade,População_abaixo_60,População_acima_60,area,map_leg,map_leg_s,latitude,longitude,Semana_epidemiologica,densidade
209640,Álvares Machado,15,1,2021-01-15,504,8,"2,11862625583253e+03","6,285714285714286",15,0,...,Presidente Prudente,23789,4267,347.65,<600,4.0,"-22,0764","-51,4722",2,68.428017
313303,Restinga,24,6,2021-06-24,498,0,"6,64620312291472e+03","1,142857142857143",8,0,...,Franca,7493,946,245.75,<600,4.0,"-20,6056","-47,4833",25,30.490336
188443,Cajamar,13,12,2020-12-13,1777,0,"2,28915197031961e+03","6,000000000000000",80,0,...,Grande São Paulo,77627,7690,131.39,<5000,2.0,"-23,3550","-46,8781",51,590.813608

# Criando uma coluna de índices

In [998]:
df_covid.shape

(374034, 23)

In [999]:
#Criando uma coluna e quantidade de linhas
lista = list(range(1,374035))

In [1000]:
#transformando a lista em um dataframe
df_indice = pd.DataFrame(lista,columns=['indice'])
df_indice

        indice
0            1
1            2
2            3
3            4
4            5
...        ...
374029  374030
374030  374031
374031  374032
374032  374033
374033  374034

[374034 rows x 1 columns]

# Unindo dois Dataframes

In [1001]:
#concatenando 2 dataframes
df_covid = pd.concat([df_covid,df_indice],axis=1)

In [1002]:
df_covid.head(2)

,Municipio,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,...,População_abaixo_60,População_acima_60,area,map_leg,map_leg_s,latitude,longitude,Semana_epidemiologica,densidade,indice
0,Adamantina,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,...,33894,7398,411.99,0,8.0,"-21,6820","-51,0737",9,82.268987,1
1,Adolfo,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,...,3447,761,211.06,0,8.0,"-21,2325","-49,6451",9,16.331849,2

# Reordenando o a indexação

In [1003]:
df_covid = df_covid.reindex(columns = ['indice'] + list(df_covid.columns[:-1]))
df_covid.sample(4)

,indice,Municipio,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,...,Cidade,População_abaixo_60,População_acima_60,area,map_leg,map_leg_s,latitude,longitude,Semana_epidemiologica,densidade
277474,277475,Cássia dos Coqueiros,30,4,2021-04-30,151,0,"6,05210420841683e+03","0,000000000000000",1,...,Ribeirão Preto,2495,501,191.68,<300,5.0,"-21,2801","-47,1643",17,13.016486
274265,274266,Coronel Macedo,25,4,2021-04-25,289,0,"5,96737559364031e+03","0,000000000000000",15,...,Bauru,4843,899,303.83,<300,5.0,"-23,6261","-49,3100",17,15.939835
184043,184044,Iacanga,6,12,2020-12-06,312,0,"2,75959667433221e+03","1,142857142857143",5,...,Bauru,11306,1824,547.39,<600,4.0,"-21,8896","-49,0310",50,20.654378
358691,358692,Bertioga,3,9,2021-09-03,6020,13,"9,51177121188181e+03","5,285714285714286",163,...,Baixada Santista,63290,6351,491.55,>5000,1.0,"-23,8486","-46,1396",35,128.755976

# Contando os dados nas colunas

In [1004]:
df_covid['Semana_epidemiologica'].value_counts()

35    9044
24    9044
36    9044
10    9044
34    9044
33    9044
32    9044
31    9044
30    9044
29    9044
28    9044
27    9044
26    9044
25    9044
23    9044
38    9044
22    9044
21    9044
20    9044
19    9044
18    9044
17    9044
16    9044
15    9044
14    9044
13    9044
12    9044
11    9044
37    9044
9     7752
39    4522
51    4522
7     4522
6     4522
5     4522
4     4522
3     4522
2     4522
1     4522
53    4522
52    4522
50    4522
40    4522
49    4522
48    4522
47    4522
46    4522
45    4522
44    4522
43    4522
42    4522
41    4522
8     4522
Name: Semana_epidemiologica, dtype: int64

In [1005]:
#ordenando por ordem crescente do index
df_covid['Semana_epidemiologica'].value_counts().sort_index()

1     4522
2     4522
3     4522
4     4522
5     4522
6     4522
7     4522
8     4522
9     7752
10    9044
11    9044
12    9044
13    9044
14    9044
15    9044
16    9044
17    9044
18    9044
19    9044
20    9044
21    9044
22    9044
23    9044
24    9044
25    9044
26    9044
27    9044
28    9044
29    9044
30    9044
31    9044
32    9044
33    9044
34    9044
35    9044
36    9044
37    9044
38    9044
39    4522
40    4522
41    4522
42    4522
43    4522
44    4522
45    4522
46    4522
47    4522
48    4522
49    4522
50    4522
51    4522
52    4522
53    4522
Name: Semana_epidemiologica, dtype: int64

In [1006]:
from collections import Counter
Counter(df_covid.Semana_epidemiologica)

Counter({9: 7752,
         10: 9044,
         11: 9044,
         12: 9044,
         13: 9044,
         14: 9044,
         15: 9044,
         16: 9044,
         17: 9044,
         18: 9044,
         19: 9044,
         20: 9044,
         21: 9044,
         22: 9044,
         23: 9044,
         24: 9044,
         25: 9044,
         26: 9044,
         27: 9044,
         28: 9044,
         29: 9044,
         30: 9044,
         31: 9044,
         32: 9044,
         33: 9044,
         34: 9044,
         35: 9044,
         36: 9044,
         37: 9044,
         38: 9044,
         39: 4522,
         40: 4522,
         41: 4522,
         42: 4522,
         43: 4522,
         44: 4522,
         45: 4522,
         46: 4522,
         47: 4522,
         48: 4522,
         49: 4522,
         50: 4522,
         51: 4522,
         52: 4522,
         53: 4522,
         1: 4522,
         2: 4522,
         3: 4522,
         4: 4522,
         5: 4522,
         6: 4522,
         7: 4522,
         8: 4522})

In [1007]:
#contalizando obitos novos maiores que 50
df_covid.query('obitos_novos > 50')['Municipio'].value_counts()

São Paulo                295
Guarulhos                  9
São Bernardo do Campo      3
Taubaté                    3
Itapetininga               2
Campinas                   1
Sorocaba                   1
Name: Municipio, dtype: int64

# Seleção de Variáveis por Indice

In [1008]:
x = df_covid.iloc[:,5:13]
x

,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d
0,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000"
1,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000"
2,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000"
3,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000"
4,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000"
...,...,...,...,...,...,...,...,...
374029,1956,-477,"0,00000000000000e+00","-931,428571428571445",7,-1,"0,00000000000000e+00","-0,285714285714286"
374030,1414,-542,"0,00000000000000e+00","-1038,714285714285779",7,0,"0,00000000000000e+00","-0,571428571428571"
374031,962,-452,"0,00000000000000e+00","-348,000000000000000",6,-1,"0,00000000000000e+00","-1,714285714285714"
374032,557,-405,"0,00000000000000e+00","-774,428571428571445",1,-5,"0,00000000000000e+00","-2,428571428571428"
374033,128,-429,"0,00000000000000e+00","-472,142857142857167",0,-1,"0,00000000000000e+00","-2,857142857142857"

In [1009]:
df_covid

,indice,Municipio,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,...,Cidade,População_abaixo_60,População_acima_60,area,map_leg,map_leg_s,latitude,longitude,Semana_epidemiologica,densidade
0,1,Adamantina,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Marília,33894,7398,411.99,0,8.0,"-21,6820","-51,0737",9,82.268987
1,2,Adolfo,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São José do Rio Preto,3447,761,211.06,0,8.0,"-21,2325","-49,6451",9,16.331849
2,3,Aguaí,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São João da Boa Vista,35608,5245,474.55,0,8.0,"-22,0572","-46,9735",9,75.035297
3,4,Águas da Prata,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São João da Boa Vista,7797,1729,142.67,0,8.0,"-21,9319","-46,7176",9,54.650592
4,5,Águas de Lindóia,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Campinas,18374,3275,60.13,0,8.0,"-22,4733","-46,6314",9,305.571262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374029,374030,Ignorado,21,9,2021-09-21,1956,-477,"0,00000000000000e+00","-931,428571428571445",7,...,NaN,0,0,0.00,NaN,NaN,"0,0000","0,0000",38,NaN
374030,374031,Ignorado,22,9,2021-09-22,1414,-542,"0,00000000000000e+00","-1038,714285714285779",7,...,NaN,0,0,0.00,NaN,NaN,"0,0000","0,0000",38,NaN
374031,374032,Ignorado,23,9,2021-09-23,962,-452,"0,00000000000000e+00","-348,000000000000000",6,...,NaN,0,0,0.00,NaN,NaN,"0,0000","0,0000",38,NaN
374032,374033,Ignorado,24,9,2021-09-24,557,-405,"0,00000000000000e+00","-774,428571428571445",1,...,NaN,0,0,0.00,NaN,NaN,"0,0000","0,0000",38,NaN
374033,374034,Ignorado,25,9,2021-09-25,128,-429,"0,00000000000000e+00","-472,142857142857167",0,...,NaN,0,0,0.00,NaN,NaN,"0,0000","0,0000",38,NaN

In [1010]:
#substituindo Ponto  por Vírgula
df_covid['casos_pc'] = df_covid['casos_pc'].apply(lambda x: x.replace(',','.'))
df_covid['casos_mm7d'] = df_covid['casos_mm7d'].apply(lambda x: x.replace(',','.'))
df_covid['letalidade'] = df_covid['letalidade'].apply(lambda x: x.replace(',','.'))
df_covid.head(1)

,indice,Municipio,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,...,Cidade,População_abaixo_60,População_acima_60,area,map_leg,map_leg_s,latitude,longitude,Semana_epidemiologica,densidade
0,1,Adamantina,25,2,2020-02-25,0,0,0.00000000000000e+00,0.000000000000000,0,...,Marília,33894,7398,411.99,0,8.0,"-21,6820","-51,0737",9,82.268987

# Tratando dados Nulos e NAN

In [1011]:
def replace_empty_values(df, col, texto):
    df.loc[(df[col].isna()) | (df[col] == '') | (df[col] == ' '), col] = texto

In [1012]:
replace_empty_values(df_covid,'Cidade','Ignorado')
replace_empty_values(df_covid,'map_leg','Ignorado')
replace_empty_values(df_covid,'map_leg_s','Ignorado')
replace_empty_values(df_covid,'densidade','Ignorado')
df_covid

,indice,Municipio,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,...,Cidade,População_abaixo_60,População_acima_60,area,map_leg,map_leg_s,latitude,longitude,Semana_epidemiologica,densidade
0,1,Adamantina,25,2,2020-02-25,0,0,0.00000000000000e+00,0.000000000000000,0,...,Marília,33894,7398,411.99,0,8.0,"-21,6820","-51,0737",9,82.268987
1,2,Adolfo,25,2,2020-02-25,0,0,0.00000000000000e+00,0.000000000000000,0,...,São José do Rio Preto,3447,761,211.06,0,8.0,"-21,2325","-49,6451",9,16.331849
2,3,Aguaí,25,2,2020-02-25,0,0,0.00000000000000e+00,0.000000000000000,0,...,São João da Boa Vista,35608,5245,474.55,0,8.0,"-22,0572","-46,9735",9,75.035297
3,4,Águas da Prata,25,2,2020-02-25,0,0,0.00000000000000e+00,0.000000000000000,0,...,São João da Boa Vista,7797,1729,142.67,0,8.0,"-21,9319","-46,7176",9,54.650592
4,5,Águas de Lindóia,25,2,2020-02-25,0,0,0.00000000000000e+00,0.000000000000000,0,...,Campinas,18374,3275,60.13,0,8.0,"-22,4733","-46,6314",9,305.571262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374029,374030,Ignorado,21,9,2021-09-21,1956,-477,0.00000000000000e+00,-931.428571428571445,7,...,Ignorado,0,0,0.00,Ignorado,Ignorado,"0,0000","0,0000",38,Ignorado
374030,374031,Ignorado,22,9,2021-09-22,1414,-542,0.00000000000000e+00,-1038.714285714285779,7,...,Ignorado,0,0,0.00,Ignorado,Ignorado,"0,0000","0,0000",38,Ignorado
374031,374032,Ignorado,23,9,2021-09-23,962,-452,0.00000000000000e+00,-348.000000000000000,6,...,Ignorado,0,0,0.00,Ignorado,Ignorado,"0,0000","0,0000",38,Ignorado
374032,374033,Ignorado,24,9,2021-09-24,557,-405,0.00000000000000e+00,-774.428571428571445,1,...,Ignorado,0,0,0.00,Ignorado,Ignorado,"0,0000","0,0000",38,Ignorado
374033,374034,Ignorado,25,9,2021-09-25,128,-429,0.00000000000000e+00,-472.142857142857167,0,...,Ignorado,0,0,0.00,Ignorado,Ignorado,"0,0000","0,0000",38,Ignorado

# Criando uma coluna de data com NP

In [1013]:
import datetime

In [1014]:
data_final = np.array('2020-02-25', dtype = np.datetime64())
data_final

array('2020-02-25', dtype='datetime64[D]')

In [1015]:
data_final = data_final + np.arange(579)
data_final

array(['2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
       '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03',
       '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07',
       '2020-03-08', '2020-03-09', '2020-03-10', '2020-03-11',
       '2020-03-12', '2020-03-13', '2020-03-14', '2020-03-15',
       '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19',
       '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23',
       '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27',
       '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31',
       '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04',
       '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08',
       '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12',
       '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16',
       '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-20',
       '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24',
       '2020-04-25', '2020-04-26', '2020-04-27', '2020-04-28',
       '2020-04-29', '2020-04-30', '2020-05-01', '2020-05-02',
       '2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06',
       '2020-05-07', '2020-05-08', '2020-05-09', '2020-05-10',
       '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14',
       '2020-05-15', '2020-05-16', '2020-05-17', '2020-05-18',
       '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22',
       '2020-05-23', '2020-05-24', '2020-05-25', '2020-05-26',
       '2020-05-27', '2020-05-28', '2020-05-29', '2020-05-30',
       '2020-05-31', '2020-06-01', '2020-06-02', '2020-06-03',
       '2020-06-04', '2020-06-05', '2020-06-06', '2020-06-07',
       '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11',
       '2020-06-12', '2020-06-13', '2020-06-14', '2020-06-15',
       '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19',
       '2020-06-20', '2020-06-21', '2020-06-22', '2020-06-23',
       '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27',
       '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01',
       '2020-07-02', '2020-07-03', '2020-07-04', '2020-07-05',
       '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09',
       '2020-07-10', '2020-07-11', '2020-07-12', '2020-07-13',
       '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17',
       '2020-07-18', '2020-07-19', '2020-07-20', '2020-07-21',
       '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-25',
       '2020-07-26', '2020-07-27', '2020-07-28', '2020-07-29',
       '2020-07-30', '2020-07-31', '2020-08-01', '2020-08-02',
       '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06',
       '2020-08-07', '2020-08-08', '2020-08-09', '2020-08-10',
       '2020-08-11', '2020-08-12', '2020-08-13', '2020-08-14',
       '2020-08-15', '2020-08-16', '2020-08-17', '2020-08-18',
       '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-22',
       '2020-08-23', '2020-08-24', '2020-08-25', '2020-08-26',
       '2020-08-27', '2020-08-28', '2020-08-29', '2020-08-30',
       '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03',
       '2020-09-04', '2020-09-05', '2020-09-06', '2020-09-07',
       '2020-09-08', '2020-09-09', '2020-09-10', '2020-09-11',
       '2020-09-12', '2020-09-13', '2020-09-14', '2020-09-15',
       '2020-09-16', '2020-09-17', '2020-09-18', '2020-09-19',
       '2020-09-20', '2020-09-21', '2020-09-22', '2020-09-23',
       '2020-09-24', '2020-09-25', '2020-09-26', '2020-09-27',
       '2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
       '2020-10-02', '2020-10-03', '2020-10-04', '2020-10-05',
       '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-09',
       '2020-10-10', '2020-10-11', '2020-10-12', '2020-10-13',
       '2020-10-14', '2020-10-15', '2020-10-16', '2020-10-17',
       '2020-10-18', '2020-10-19', '2020-10-20', '2020-10-21',
       '2020-10-22', '2020-10-23', '2020-10-24', '2020-10-25',
       '2020-10-26', '2020-10-27', '2020-10-28', '2020-10-29',
       '2020-10-30', '2020-10-31', '2020-11-01', '2020-11-02',
       '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06',
       '2020-11-07', '2020-11-08', '2020-11-09', '2020-11-10',
       '2020-11-11', '2020-11-12', '2020-11-13', '2020-11-14',
       '2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18',
       '2020-11-19', '2020-11-20', '2020-11-21', '2020-11-22',
       '2020-11-23', '2020-11-24', '2020-11-25', '2020-11-26',
       '2020-11-27', '2020-11-28', '2020-11-29', '2020-11-30',
       '2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04',
       '2020-12-05', '2020-12-06', '2020-12-07', '2020-12-08',
       '2020-12-09', '2020-12-10', '2020-12-11', '2020-12-12',
       '2020-12-13', '2020-12-14', '2020-12-15', '2020-12-16',
       '2020-12-17', '2020-12-18', '2020-12-19', '2020-12-20',
       '2020-12-21', '2020-12-22', '2020-12-23', '2020-12-24',
       '2020-12-25', '2020-12-26', '2020-12-27', '2020-12-28',
       '2020-12-29', '2020-12-30', '2020-12-31', '2021-01-01',
       '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05',
       '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-09',
       '2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13',
       '2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17',
       '2021-01-18', '2021-01-19', '2021-01-20', '2021-01-21',
       '2021-01-22', '2021-01-23', '2021-01-24', '2021-01-25',
       '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29',
       '2021-01-30', '2021-01-31', '2021-02-01', '2021-02-02',
       '2021-02-03', '2021-02-04', '2021-02-05', '2021-02-06',
       '2021-02-07', '2021-02-08', '2021-02-09', '2021-02-10',
       '2021-02-11', '2021-02-12', '2021-02-13', '2021-02-14',
       '2021-02-15', '2021-02-16', '2021-02-17', '2021-02-18',
       '2021-02-19', '2021-02-20', '2021-02-21', '2021-02-22',
       '2021-02-23', '2021-02-24', '2021-02-25', '2021-02-26',
       '2021-02-27', '2021-02-28', '2021-03-01', '2021-03-02',
       '2021-03-03', '2021-03-04', '2021-03-05', '2021-03-06',
       '2021-03-07', '2021-03-08', '2021-03-09', '2021-03-10',
       '2021-03-11', '2021-03-12', '2021-03-13', '2021-03-14',
       '2021-03-15', '2021-03-16', '2021-03-17', '2021-03-18',
       '2021-03-19', '2021-03-20', '2021-03-21', '2021-03-22',
       '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
       '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
       '2021-03-31', '2021-04-01', '2021-04-02', '2021-04-03',
       '2021-04-04', '2021-04-05', '2021-04-06', '2021-04-07',
       '2021-04-08', '2021-04-09', '2021-04-10', '2021-04-11',
       '2021-04-12', '2021-04-13', '2021-04-14', '2021-04-15',
       '2021-04-16', '2021-04-17', '2021-04-18', '2021-04-19',
       '2021-04-20', '2021-04-21', '2021-04-22', '2021-04-23',
       '2021-04-24', '2021-04-25', '2021-04-26', '2021-04-27',
       '2021-04-28', '2021-04-29', '2021-04-30', '2021-05-01',
       '2021-05-02', '2021-05-03', '2021-05-04', '2021-05-05',
       '2021-05-06', '2021-05-07', '2021-05-08', '2021-05-09',
       '2021-05-10', '2021-05-11', '2021-05-12', '2021-05-13',
       '2021-05-14', '2021-05-15', '2021-05-16', '2021-05-17',
       '2021-05-18', '2021-05-19', '2021-05-20', '2021-05-21',
       '2021-05-22', '2021-05-23', '2021-05-24', '2021-05-25',
       '2021-05-26', '2021-05-27', '2021-05-28', '2021-05-29',
       '2021-05-30', '2021-05-31', '2021-06-01', '2021-06-02',
       '2021-06-03', '2021-06-04', '2021-06-05', '2021-06-06',
       '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10',
       '2021-06-11', '2021-06-12', '2021-06-13', '2021-06-14',
       '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18',
       '2021-06-19', '2021-06-20', '2021-06-21', '2021-06-22',
       '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26',
       '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30',
       '2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04',
       '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08',
       '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12',
       '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16',
       '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20',
       '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24',
       '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28',
       '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-01',
       '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05',
       '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09',
       '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13',
       '2021-08-14', '2021-08-15', '2021-08-16', '2021-08-17',
       '2021-08-18', '2021-08-19', '2021-08-20', '2021-08-21',
       '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25',
       '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29',
       '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02',
       '2021-09-03', '2021-09-04', '2021-09-05', '2021-09-06',
       '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-10',
       '2021-09-11', '2021-09-12', '2021-09-13', '2021-09-14',
       '2021-09-15', '2021-09-16', '2021-09-17', '2021-09-18',
       '2021-09-19', '2021-09-20', '2021-09-21', '2021-09-22',
       '2021-09-23', '2021-09-24', '2021-09-25'], dtype='datetime64[D]')

In [1016]:
data_final = pd.DataFrame(data)
data_final

     data_dupl
0   2020-02-25
1   2020-02-26
2   2020-02-27
3   2020-02-28
4   2020-02-29
..         ...
574 2021-09-21
575 2021-09-22
576 2021-09-23
577 2021-09-24
578 2021-09-25

[579 rows x 1 columns]

In [1017]:
#Renomeado o array criado
data_final.columns =['data_dupl']

In [1018]:
#concatenando 2 dataframes
data_final = pd.concat([df_covid,data_final],axis=1)
df_covid.head(2)

,indice,Municipio,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,...,Cidade,População_abaixo_60,População_acima_60,area,map_leg,map_leg_s,latitude,longitude,Semana_epidemiologica,densidade
0,1,Adamantina,25,2,2020-02-25,0,0,0.00000000000000e+00,0.000000000000000,0,...,Marília,33894,7398,411.99,0,8.0,"-21,6820","-51,0737",9,82.268987
1,2,Adolfo,25,2,2020-02-25,0,0,0.00000000000000e+00,0.000000000000000,0,...,São José do Rio Preto,3447,761,211.06,0,8.0,"-21,2325","-49,6451",9,16.331849

In [1019]:
data_final

,indice,Municipio,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,...,População_abaixo_60,População_acima_60,area,map_leg,map_leg_s,latitude,longitude,Semana_epidemiologica,densidade,data_dupl
0,1,Adamantina,25,2,2020-02-25,0,0,0.00000000000000e+00,0.000000000000000,0,...,33894,7398,411.99,0,8.0,"-21,6820","-51,0737",9,82.268987,2020-02-25
1,2,Adolfo,25,2,2020-02-25,0,0,0.00000000000000e+00,0.000000000000000,0,...,3447,761,211.06,0,8.0,"-21,2325","-49,6451",9,16.331849,2020-02-26
2,3,Aguaí,25,2,2020-02-25,0,0,0.00000000000000e+00,0.000000000000000,0,...,35608,5245,474.55,0,8.0,"-22,0572","-46,9735",9,75.035297,2020-02-27
3,4,Águas da Prata,25,2,2020-02-25,0,0,0.00000000000000e+00,0.000000000000000,0,...,7797,1729,142.67,0,8.0,"-21,9319","-46,7176",9,54.650592,2020-02-28
4,5,Águas de Lindóia,25,2,2020-02-25,0,0,0.00000000000000e+00,0.000000000000000,0,...,18374,3275,60.13,0,8.0,"-22,4733","-46,6314",9,305.571262,2020-02-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374029,374030,Ignorado,21,9,2021-09-21,1956,-477,0.00000000000000e+00,-931.428571428571445,7,...,0,0,0.00,Ignorado,Ignorado,"0,0000","0,0000",38,Ignorado,NaT
374030,374031,Ignorado,22,9,2021-09-22,1414,-542,0.00000000000000e+00,-1038.714285714285779,7,...,0,0,0.00,Ignorado,Ignorado,"0,0000","0,0000",38,Ignorado,NaT
374031,374032,Ignorado,23,9,2021-09-23,962,-452,0.00000000000000e+00,-348.000000000000000,6,...,0,0,0.00,Ignorado,Ignorado,"0,0000","0,0000",38,Ignorado,NaT
374032,374033,Ignorado,24,9,2021-09-24,557,-405,0.00000000000000e+00,-774.428571428571445,1,...,0,0,0.00,Ignorado,Ignorado,"0,0000","0,0000",38,Ignorado,NaT
374033,374034,Ignorado,25,9,2021-09-25,128,-429,0.00000000000000e+00,-472.142857142857167,0,...,0,0,0.00,Ignorado,Ignorado,"0,0000","0,0000",38,Ignorado,NaT

In [1020]:
drop_column(data_final,'0')
drop_column(data_final,'data_dupl')

A coluna '0' não está inclusa no Dataframe.

In [1021]:
data_final.sample(1)

,indice,Municipio,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,...,Cidade,População_abaixo_60,População_acima_60,area,map_leg,map_leg_s,latitude,longitude,Semana_epidemiologica,densidade
98490,98491,Pontes Gestal,26,7,2020-07-26,29,0,1.14715189873418e+03,1.142857142857143,1,...,São José do Rio Preto,2528,517,217.51,<50,7.0,"-20,1727","-49,7064",31,11.622454

In [1022]:
df_covid = data_final

# NaN

In [1023]:
#Conferindo se ainda existe numero nulos e a quantidade caso exista usar o dropna
df_covid.isnull().sum()

indice                   0
Municipio                0
dia                      0
mes                      0
datahora                 0
casos                    0
casos_novos              0
casos_pc                 0
casos_mm7d               0
obitos                   0
obitos_novos             0
obitos_pc                0
obitos_mm7d              0
letalidade               0
Cidade                   0
População_abaixo_60      0
População_acima_60       0
area                     0
map_leg                  0
map_leg_s                0
latitude                 0
longitude                0
Semana_epidemiologica    0
densidade                0
dtype: int64

# Tipagem dos atribustos

In [1024]:
df_covid.dtypes

indice                     int64
Municipio                 object
dia                        int64
mes                        int64
datahora                  object
casos                      int64
casos_novos                int64
casos_pc                  object
casos_mm7d                object
obitos                     int64
obitos_novos               int64
obitos_pc                 object
obitos_mm7d               object
letalidade                object
Cidade                    object
População_abaixo_60        int64
População_acima_60         int64
area                     float64
map_leg                   object
map_leg_s                 object
latitude                  object
longitude                 object
Semana_epidemiologica      int64
densidade                 object
dtype: object

In [1025]:
df_covid['casos_pc'] = df_covid['casos_pc'].astype(float)

In [1026]:
df_covid

,indice,Municipio,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,...,Cidade,População_abaixo_60,População_acima_60,area,map_leg,map_leg_s,latitude,longitude,Semana_epidemiologica,densidade
0,1,Adamantina,25,2,2020-02-25,0,0,0.0,0.000000000000000,0,...,Marília,33894,7398,411.99,0,8.0,"-21,6820","-51,0737",9,82.268987
1,2,Adolfo,25,2,2020-02-25,0,0,0.0,0.000000000000000,0,...,São José do Rio Preto,3447,761,211.06,0,8.0,"-21,2325","-49,6451",9,16.331849
2,3,Aguaí,25,2,2020-02-25,0,0,0.0,0.000000000000000,0,...,São João da Boa Vista,35608,5245,474.55,0,8.0,"-22,0572","-46,9735",9,75.035297
3,4,Águas da Prata,25,2,2020-02-25,0,0,0.0,0.000000000000000,0,...,São João da Boa Vista,7797,1729,142.67,0,8.0,"-21,9319","-46,7176",9,54.650592
4,5,Águas de Lindóia,25,2,2020-02-25,0,0,0.0,0.000000000000000,0,...,Campinas,18374,3275,60.13,0,8.0,"-22,4733","-46,6314",9,305.571262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374029,374030,Ignorado,21,9,2021-09-21,1956,-477,0.0,-931.428571428571445,7,...,Ignorado,0,0,0.00,Ignorado,Ignorado,"0,0000","0,0000",38,Ignorado
374030,374031,Ignorado,22,9,2021-09-22,1414,-542,0.0,-1038.714285714285779,7,...,Ignorado,0,0,0.00,Ignorado,Ignorado,"0,0000","0,0000",38,Ignorado
374031,374032,Ignorado,23,9,2021-09-23,962,-452,0.0,-348.000000000000000,6,...,Ignorado,0,0,0.00,Ignorado,Ignorado,"0,0000","0,0000",38,Ignorado
374032,374033,Ignorado,24,9,2021-09-24,557,-405,0.0,-774.428571428571445,1,...,Ignorado,0,0,0.00,Ignorado,Ignorado,"0,0000","0,0000",38,Ignorado
374033,374034,Ignorado,25,9,2021-09-25,128,-429,0.0,-472.142857142857167,0,...,Ignorado,0,0,0.00,Ignorado,Ignorado,"0,0000","0,0000",38,Ignorado

In [1027]:
rename_column(df_covid,'datahora','data')

df_covid['data'] = pd.to_datetime(df_covid['data'])

In [1029]:
df_covid.head(3)

,indice,Municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,...,Cidade,População_abaixo_60,População_acima_60,area,map_leg,map_leg_s,latitude,longitude,Semana_epidemiologica,densidade
0,1,Adamantina,25,2,2020-02-25,0,0,0.0,0.000000000000000,0,...,Marília,33894,7398,411.99,0,8.0,"-21,6820","-51,0737",9,82.268987
1,2,Adolfo,25,2,2020-02-25,0,0,0.0,0.000000000000000,0,...,São José do Rio Preto,3447,761,211.06,0,8.0,"-21,2325","-49,6451",9,16.331849
2,3,Aguaí,25,2,2020-02-25,0,0,0.0,0.000000000000000,0,...,São João da Boa Vista,35608,5245,474.55,0,8.0,"-22,0572","-46,9735",9,75.035297

# Convertendo para CSV

In [1030]:
df_covid.to_csv('CovidSP_final.csv',sep=';', encoding='utf-8', index=False)